<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="codeReview" type="ReviewBoardTfsAutoMerger.Configuration.CodeReviewersConfigurationSection, ReviewBoardTfsAutoMerger"/>
  </configSections>
  <appSettings>
    <!-- URL to ReviewBoard -->
    <add key="reviewBoard.url" value="http://reviewboardServer:8080"/>
    
    <!-- Credentials for ReviewBoard -->
    <add key="reviewBoard.user" value="postcommit"/>
    <add key="reviewBoard.password" value="postcommit"/>
    
    <!-- URL to TFS -->
    <add key="tfsServer.url" value="http://tfs.yourcompany.com:8080/tfs"/>
    
    <!-- The path, history if which should be monitored -->
    <add key="tfsServer.pathToMonitor" value="$/MyCollection/Main"/>
    
    <!-- The revision to start with -->
    <add key="tfsServer.lastProcessed" value="2345"/>
    
    <!-- Svn Bridge URL -->
    <add key="svnServer.url" value="http://svnBridgeServer:8081"/>
    
    <!-- The frequency of checking TFS history in milliseconds-->
    <add key="timeout" value="2000"/>
    
    <!-- Domain name -->
    <add key="ldap.domain" value="yourcompany.com"/>

    <!-- ReviewBoard user, who will be set as owner, when the check-in owner will not be found in ReviewBoard-->
    <add key="not.existing.user" value="not-existent"/>
  </appSettings>
  <codeReview>
    <codeReviewerInfo>
      <!-- Security group from Active Directory -->
      <securityGroup>Subteam1</securityGroup>
      <!-- Name of review person for any member of this security group -->
      <reviewer>First1.Last1</reviewer>
      <!-- Name of review group for any member of this security group -->
      <group>ReviewGroup1</group>
    </codeReviewerInfo>
    <codeReviewerInfo>
      <!-- Name of review owner -->
      <name>First2.Last2</name>
      <!-- Name of review person for that review owner -->
      <reviewer>First3.Last3</reviewer>
      <!-- Name of review group for that review owner -->
      <group>ReviewGroup1</group>
    </codeReviewerInfo>
    <codeReviewerInfo>
      <name>Default</name>
      <!-- Name of review person by default -->
      <reviewer>First1.Last2</reviewer>
      <!-- Name of review group by default -->
      <group>ReviewGroup1</group>
    </codeReviewerInfo>
  </codeReview>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>